.debugger-block {
  position: fixed;
  top: 0;
  background-color: white;
  color: red;
  width: 100%;
  &.debugger-block-visible {
    display: block;
  }
  &.debugger-block-hidden {
    display: none;
  }
}