$cod-gray: #080808;
$alabaster: #F8F8F8;

$helvetica-neue-lt-std-black: "HelveticaNeueLTStdBlack" !important;
$helvetica-neue-lt-std-black-condensed: "HelveticaNeueLTStdBlackCondensed" !important;
$helvetica-neue-lt-std-black-condensed-oblique: "HelveticaNeueLTStdBlackCondensedOblique" !important;
$helvetica-neue-lt-std-black-extended: "HelveticaNeueLTStdBlackExtended" !important;
$helvetica-neue-lt-std-black-extended-oblique: "HelveticaNeueLTStdBlackExtendedOblique" !important;
$helvetica-neue-lt-std-black-italic: "HelveticaNeueLTStdBlackItalic" !important;
$helvetica-neue-lt-std-bold: "HelveticaNeueLTStdBold" !important;
$helvetica-neue-lt-std-bold-condensed: "HelveticaNeueLTStdBoldCondensed" !important;
$helvetica-neue-lt-std-bold-condensed-oblique: "HelveticaNeueLTStdBoldCondensedOblique" !important;
$helvetica-neue-lt-std-bold-extended: "HelveticaNeueLTStdBoldExtended" !important;
$helvetica-neue-lt-std-bold-extended-oblique: "HelveticaNeueLTStdBoldExtendedOblique" !important;
$helvetica-neue-lt-std-bold-italic: "HelveticaNeueLTStdBoldItalic" !important;
$helvetica-neue-lt-std-bold-outline: "HelveticaNeueLTStdBoldOutline" !important;
$helvetica-neue-lt-std-condensed: "HelveticaNeueLTStdCondensed" !important;
$helvetica-neue-lt-std-condensed-oblique: "HelveticaNeueLTStdCondensedOblique" !important;
$helvetica-neue-lt-std-extended: "HelveticaNeueLTStdExtended" !important;
$helvetica-neue-lt-std-extended-oblique: "HelveticaNeueLTStdExtendedOblique" !important;
$helvetica-neue-lt-std-extra-black-condensed: "HelveticaNeueLTStdExtraBlackCondensed" !important;
$helvetica-neue-lt-std-extra-black-condensed-oblique: "HelveticaNeueLTStdExtraBlackCondensedOblique" !important;
$helvetica-neue-lt-std-heavy: "HelveticaNeueLTStdHeavy" !important;
$helvetica-neue-lt-std-heavy-condensed: "HelveticaNeueLTStdHeavyCondensed" !important;
$helvetica-neue-lt-std-heavy-condensed-oblique: "HelveticaNeueLTStdHeavyCondensedOblique" !important;
$helvetica-neue-lt-std-heavy-extended: "HelveticaNeueLTStdHeavyExtended" !important;
$helvetica-neue-lt-std-heavy-extended-oblique: "HelveticaNeueLTStdHeavyExtendedOblique" !important;
$helvetica-neue-lt-std-heavy-italic: "HelveticaNeueLTStdHeavyItalic" !important;
$helvetica-neue-lt-std-italic: "HelveticaNeueLTStdItalic" !important;
$helvetica-neue-lt-std-light: "HelveticaNeueLTStdLight" !important;
$helvetica-neue-lt-std-light-condensed: "HelveticaNeueLTStdLightCondensed" !important;
$helvetica-neue-lt-std-light-condensed-oblique: "HelveticaNeueLTStdLightCondensedOblique" !important;
$helvetica-neue-lt-std-light-extended: "HelveticaNeueLTStdLightExtended" !important;
$helvetica-neue-lt-std-light-extended-oblique: "HelveticaNeueLTStdLightExtendedOblique" !important;
$helvetica-neue-lt-std-light-italic: "HelveticaNeueLTStdLightItalic" !important;
$helvetica-neue-lt-std-medium: "HelveticaNeueLTStdMedium" !important;
$helvetica-neue-lt-std-medium-condensed: "HelveticaNeueLTStdMediumCondensed" !important;
$helvetica-neue-lt-std-medium-condensed-oblique: "HelveticaNeueLTStdMediumCondensedOblique" !important;
$helvetica-neue-lt-std-medium-extended: "HelveticaNeueLTStdMediumExtended" !important;
$helvetica-neue-lt-std-medium-extended-oblique: "HelveticaNeueLTStdMediumExtendedOblique" !important;
$helvetica-neue-lt-std-medium-italic: "HelveticaNeueLTStdMediumItalic" !important;
$helvetica-neue-lt-std-roman: "HelveticaNeueLTStdRoman" !important;
$helvetica-neue-lt-std-thin: "HelveticaNeueLTStdThin" !important;
$helvetica-neue-lt-std-shin-condensed: "HelveticaNeueLTStdThinCondensed" !important;
$helvetica-neue-lt-std-thin-condensed-oblique: "HelveticaNeueLTStdThinCondensedOblique" !important;
$helvetica-neue-lt-std-thin-extended: "HelveticaNeueLTStdThinExtended" !important;
$helvetica-neue-lt-std-thin-extended-oblique: "HelveticaNeueLTStdThinExtendedOblique" !important;
$helvetica-neue-lt-std-thin-italic: "HelveticaNeueLTStdThinItalic" !important;
$helvetica-neue-lt-std-ultra-light: "HelveticaNeueLTStdUltraLight" !important;
$helvetica-neue-lt-std-ultra-light-condensed: "HelveticaNeueLTStdUltraLightCondensed" !important;
$helvetica-neue-lt-std-ultra-light-condensed-oblique: "HelveticaNeueLTStdUltraLightCondensedOblique" !important;
$helvetica-neue-lt-std-ultra-light-extended: "HelveticaNeueLTStdUltraLightExtended" !important;
$helvetica-neue-lt-std-ultra-light-extended-oblique: "HelveticaNeueLTStdUltraLightExtendedOblique" !important;
$helvetica-neue-lt-std-ultra-light-italic: "HelveticaNeueLTStdUltraLightItalic" !important;

$uppercase: uppercase !important;
$lowercase: lowercase !important;
$capitalize: capitalize !important;